
.rotate-left{
	@include animation('0.75s linear 0s 1 normal forwards rotateleft');

}

@include keyframes(rotateleft){
	from { transform: rotateY(0); }
	to { transform: rotateY(180deg); }
}


.rotate-right{
	@include animation('0.75s linear 0s 1 normal forwards rotateright');
}

@include keyframes(rotateright){
	from{transform: rotateY(180deg);}
	to{transform: rotateY(0deg);}
}

